body {
    font-size: 1.2em;
}


*[class*='message'] {
    white-space: pre-line;
}
.textSelectable {
    -moz-user-select: text;
}
.textNotSelectable {
    -moz-user-select: none;
}

.tstInstructions {
    margin-bottom: 30px;
}

.disabled {
    opacity: 0.6;
}
.disabled .disabled {
    opacity: 1;
}

#resetSettingsButton {
    padding: 10px;
}